body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px; /* Espaço suficiente para evitar que o conteúdo seja coberto pelo footer */
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.search-container {
    margin: 20px auto; /* Centraliza a caixa de pesquisa */
    display: flex;
    justify-content: center;
}

.search-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Bordas arredondadas para a caixa de pesquisa */
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0; /* Bordas arredondadas para o botão */
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #0056b3;
}

.add-movie-container {
    margin: 20px 0;
    text-align: center;
    padding: 10px;
}

.add-movie-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-movie-container button:hover {
    background-color: #0056b3;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo específico para o formulário de adicionar filme */
form {
    display: flex;
    flex-direction: column;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 500px; /* Define uma largura máxima para o formulário */
    /*width: 100%; /* Faz o formulário ocupar 100% da largura disponível, até o máximo definido */
    margin: 20px auto; /* Centraliza o formulário na página */
    /*padding: 20px; /* Adiciona um espaçamento interno */
}

#adicionar{
    border: 1px solid #ccc;
    width: 100%;
    padding: 20px;
}

form label, form input, form textarea {
    margin-bottom: 15px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px); /* Ajusta a largura dos campos, considerando o padding e a borda */
}

/* Ajuste específico para o botão do formulário */

.edit-movie-container {
    padding-bottom: 3rem;
}

#button_edit {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Faz o botão ocupar a largura total do formulário */
}

#button_remove {
    padding: 10px 20px;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Faz o botão ocupar a largura total do formulário */
}

#add_movie{
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Faz o botão ocupar a largura total do formulário */
}

form button[type="submit"]:hover {
    background-color: #218838;
}

#movieList ul {
    list-style-type: none;
    padding: 0;
}

#movieList li {
    margin-bottom: 20px;
}

#movieList h2 {
    padding-left: 3rem;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#movieList ul {
    display: flex; /* Usando flexbox para alinhar os filmes */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    list-style-type: none;
    padding: 0;
    justify-content: center; /* Centraliza os filmes na página */
}

.movie-item {
    display: flex; /* Alinha a imagem e os detalhes em linha */
    flex-direction: column; /* Alinha os itens em coluna agora */
    margin: 15px; /* Espaçamento entre os filmes */
    border: 1px solid #ccc; /* Borda ao redor de cada filme */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    background-color: #f9f9f9; /* Fundo claro */
    width: 300px; /* Largura fixa para os itens */
    transition: transform 0.2s; /* Efeito de transição */
    position: relative; /* Para garantir que o botão fique dentro da div */
}

.movie-item:hover {
    transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}

.movie-poster {
    max-width: 100%; /* Garante que a imagem não ultrapasse o limite do item */
    border-radius: 5px; /* Bordas arredondadas para a imagem */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

.movie-poster-container img {
    width: 100%;
    height: 400px;
}

.movie-details {
    display: flex; /* Flexbox para os detalhes do filme */
    flex-direction: column; /* Coloca os detalhes em coluna */
    justify-content: flex-start; /* Alinha os detalhes no topo */
    margin-bottom: 10px; /* Espaço abaixo dos dados do filme */
    padding-bottom: 1rem;
}

/* Ajuste específico para o botão de remover */
.movie-item button.remove-btn {
    background-color: #e74c3c; /* Cor vermelha para o botão de remoção */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    align-self: center; /* Centraliza o botão */
    margin-top: 10px; /* Adiciona um espaçamento superior */
    width: auto; /* Remove a largura fixa do botão */
    padding: 8px 16px; /* Ajusta o padding para ficar proporcional */
}

.movie-item button.remove-btn:hover {
    background-color: #c0392b; /* Muda para um tom mais escuro de vermelho ao passar o mouse */
}

#descricao {
    height: 250px;
}

.edit-movie-container-box {
    width: 100%;
    padding: 20px;
}

#name_edit {
    text-align: center;
}

.form-buttons {
    padding-top: 2rem;
}

.save-button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%; /* Faz o botão ocupar a largura total do formulário */
}

.cancel-button {
    padding: 10px 20px;
    background-color: #b30006;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%; /* Faz o botão ocupar a largura total do formulário */
    text-decoration: none;
}